body
{
    padding: 4px 4px;
}

header h2 {
    float: right;
    margin-right: 2%;
    margin-top: 55px;
    color: #DAB4A7;
    font-style: italic;
    font-family: sans-serif;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: darkred;
    border: 2px solid darkgray;
}

nav ul li
{
    float: left;
    border-right: 1px solid darkgray;
}

nav ul li:last-child 
{
    border-right: none;
    border-left: 1px solid darkgray;
}

nav ul li a:hover 
{
    background-color: indianred;
}

nav ul li a 
{
    display: block;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding: 14px 14px;
    text-decoration: none;
}

.signup-tab
{
    float: left;   
    padding: 4px 14px;
    margin: 4px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 32.25%;
    text-align: center;
    background-color: indianred;
    color: white;
    border: 2px solid grey;
    border-bottom: none;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.signup-tab-active 
{
    background-color: indianred;
}
.signup-tab-inactive 
{
    background-color: darkred;
}

.signup-input-text 
{
    border-radius: 4px;
    border: solid 2px grey;
    background-color: white;
    color: grey;
    padding-left: 4px;
}

.signup-button {
    padding: 14px 36px;
    margin-top: 14px;
    background-color: darkred;
    color: white;
    font-family: sans-serif;
    border-radius: 8px;
    outline: none;
    border: none;
}

.signup-button:hover {
    background-color: lightcoral;
}

aside
{
    position: relative;
    float: left;
    height: 90%;
    width: 12%;
    margin: 0;
    
    padding: 14px 14px;
    color: white;
    border: 2px solid darkgrey;
    border-top: none;
    background-color: darkred;
}
section
{
    float: left;
    color: whitesmoke;
    padding: 4px 14px;
    padding-bottom: 5%;
    margin: 0;
    width: 100%;
    /*border-top: 2px solid grey;
      border-left: 2px solid grey;*/
}
section article 
{
    float: left;
    width: 100%;
    color: white;
    background-color: indianred;
    border: 2px solid grey;
    border-top: none;
    align-content: center;
    padding: 14px 14px;
}

footer {
    position: relative;
    float: left;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 14px 14px;
    color: white;
    border: 2px solid darkgrey;
    background-color: darkred;
}

