@{
    ViewBag.Title = "Signup - SSDesign LLC";
}

<h2><strong>@ViewBag.Message</strong></h2>
<p>
    To use EZ-Social Media Manager, please refer to your
    welcome email for instructions. Thank you so much for 
    choosing Simplcity Software Design!
</p>

